<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Pole</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
<div class="container">

<h1>Please insert your unique key</h1>

<div class="identification-form">
<form action="/identification" method="POST">
    <textarea type="text" placeholder="insert your key here" name="inputKey"></textarea>
    <input class="submit-key-button" type="submit" value="Check Key">
</form>
</div>

</div>

</body>
</html>