<%- include("partials/header.ejs") %>

<div class="container">

<h1>Please insert your unique code</h1>

<div class="identification-form">
<form action="/identification" method="POST">
    <textarea type="text" placeholder="insert your code here" name="inputCode"></textarea>
    <input class="submit-code-button" type="submit" value="Check Code">
</form>
</div>

</div>

<%- include("partials/header.ejs") %>